@model TheNeighborhoodArtStore.Models.Artist

@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background-image: url("/Images/artpiece.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode:exclusion;
    }
    .float-container {
        padding: 20px;
        width: 597px;
    }
    input {
        appearance: none;
        border-radius: 0;
    }

    .float-child {
        width: 60%;
        float: left;
        padding: 20px;
    }
    .card {
        margin-top:30px;
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

</style>


<div class="float-container card">

    <div class="float-child">
        <h2>Tell us more about yourself</h2>
        <p>*This is visible to others.</p>
    </div>

    <div class="float-child">

        @using (Html.BeginForm("Create", "Artists", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Hi, I'm</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    Name
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Biography
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @{
                        var mailcheck = (string)TempData["email"];
                    }
                    @Html.HiddenFor(model => model.Email, new { Value = mailcheck })
                    

                </div>

                <div class="form-group">
                    URL image of you
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UrlImage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UrlImage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-outline-success" />
                    </div>
                </div>
            </div>
        }

       
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
