@model IEnumerable<TheNeighborhoodArtStore.Models.Artist>

@{
    ViewBag.Title = "Index";
}
<style>
    div.container.body-content {
        margin: 0px;
    }

    div.other {
        background-image: url("/Images/artists-cover.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        width: 1911px;
        position: relative;
        background-position: center;
        margin-left: -20px;
        margin-right: 20px;
        text-align: center;
    }

    h2 {
        font-size: 80px;
        display: inline-block;
        margin-top: 300px;
        text-shadow: -3px 3px 0 pink;
    }
    #artistTable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #artistTable td, #artistTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #artistTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #artistTable tr:hover {
        background-color: #ddd;
    }

        #artistTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #063260;
            color: white;
        }

    #artistTable_filter > label > input[type=search] {
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 10px 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        box-shadow: 4px 4px 6px 0 rgba(255,255,255,.3), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    }

    #artistTable_filter > label {
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    #artistTable_wrapper {
        margin-left: 148px;
        margin-right: -382px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #artistTable {
        margin-top: 10px;
    }

    .hovimg {
        transition: transform .2s;
        width: 200px;
        margin: 0 auto;
        background-color: rgb(173, 173, 237);
        border-radius: 3px;
    }

        .hovimg:hover {
            transform: scale(2.5);
        }
</style>
<div class="other">
    @if (User.IsInRole("Artist"))
    {
        <div>
            <h2>See all artists as much talented as you</h2>
        </div>
    }
    @if (User.IsInRole("Client"))
    {
        <div>
            <h2>See all artists</h2>
        </div>
    }
</div>

<table class="table center" id="artistTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <img src="@item.UrlImage" style="max-width:100px" class="hovimg"/>
                </td>
                <td>

                    @Html.ActionLink("Artpieces", "Details", new { id = item.Id }, new { @class = "btn btn-light" }) 
                    @{
                        if (User.IsInRole("Artist"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id } , new { @class = "btn btn-light" })
                        }
                    }



                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#artistTable").DataTable();
        });
    </script>
    <script>
        $(document).ready(function () { $(".hovimg").click(function () { this.requestFullscreen() }) });
    </script>

}
