@model TheNeighborhoodArtStore.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<style>
    body {
        background-image: url("/Images/password-cover.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btn {
        margin-left: 90px;
        margin-top: 50px;
    }
    .row {
        margin-bottom: 30px;
    }
    div.center {
        
        width: 600px;
        height: 700px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 30px;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
</style>

<div class="center card">
    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            <hr /><br /><br />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row"><br />
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 col-form-label" })<br />
                <br />
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row"><br />
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })<br />
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })<br />
                </div>
            </div>
            <div class="row"><br />
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })<br />
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })<br />
                </div>
            </div>
            <div class="row"><br />
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-outline-dark" />
                </div>
            </div>
        }
    </main>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}